/*//////////////////////////*/
/*//////   GENRAL    //////*/
/*////////////////////////*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    display:flex;
    margin: 0 5%;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h4 {
    margin: 5px;
    padding: 0 5px;
}
p{
    padding: 0 5px;
    margin: 0 5px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.header, .footer, main, .hebergement, .hebergement-results, .hebergement-populars, .results, .populars{
    display: flex;
}

/*//////////////////////////*/
/*//////   HEADER    //////*/
/*////////////////////////*/
main, .header{
    padding: 40px;
}
.header {
    justify-content: space-between;
    height: 100px;
    background-color: #fff;
    align-items: baseline;
}
.header-mobile{
    display: none;
}
.logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header nav ul {
    display: flex;
    list-style-type: none;
}
.header nav li
{
    margin-right: 15px;
}
.header nav a {
    font-size: 1.1rem;
    color: #000;
}
.header nav li span {
    font-weight: bold;
    color: #0065FC;
}
.header nav a:hover
{
    color:  #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 30px;
}
/*//////////////////////////*/
/*// SEARCH SECTION ///////*/
/*////////////////////////*/
main {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
}
.form {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}
form .fas{
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    border: 3px solid #f2f2f2;
    cursor: pointer;
}
form input[type=text]{
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; 
    border-left: none;
    border-right: none;
    width: 200px; 
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
form input[type="text"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
form input:placeholder-shown {
    font-weight: lighter;
}
.fa-map-marker-alt{
    cursor: pointer;
}
.btn-search{
    padding: 10px;
    background-color: #0065FC;
    border: 1px solid #ddd;
    color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}
.btn-search:hover{
    background-color: #0b7dda;
}
.btn-search-mobile{
    display: none;
}
.filtres{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    align-items: baseline;
}
.filtres p{
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
} 
.btn-filtres{
    font-weight: bold;
    margin-left: 25px;
    border: 2px solid #ddd;
    border-radius: 80px;
    background: transparent;
    padding-right: 20px;
    font-size: 1.1rem;
    text-transform: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin: 10px;
}
.btn-filtres .fas{
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 12.5px; 
    margin-left: -5px;
    margin-right: 15px;
}
.btn-filtres .dog{
    display: flex;
    flex-flow: row nowrap;
    font-size: auto;
}
.btn-filtres:hover .fas{
    background-color: #0065FC;
    color: #fff;
    
} .btn-filtres:hover {
    border-color: #DEEBFF;
    background-color: #DEEBFF; 
    color:#0065FC;
}
.fa-info-circle{
    background-color: #fff;
    color: #0065FC;
    border-color: #f2f2f2;
}

/*//////////////////////////*/
/*// SECTION HEBERGEMENT //*/
/*////////////////////////*/
.hebergement{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
 }
 .hebergement p{
    font-size: 0.8rem;
 }
 .price{
    font-weight: bold;
 }
 .fa-star{
    color: #0065FC;
 }
 
 /* 1.1 HEBERGEMENT A MARSEILLE*/
 .hebergement-results{
    flex-direction: column;
    width: 65%;
    margin:  20px;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
 }
 .results{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .results__card{
    height: 200px;
    width: 210px;
    margin: 10px;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 5px;
 }
 .results_card-img{
    height: 60%;
    width: 100%;
    align-self: stretch;
    align-items: center;
    align-content: flex-start;
 }
 .results_card-img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
 }
 .results_card-description{
    height: 35%;
    width: 100%;
    margin: 0px;
    background-color: #fff;
 }
 .more a:hover{
    color: #0065FC; /*paragraphe  " afficher plus" */
 }
 /*1.2 LES PLUS POPULAIRES*/ 
 
 .hebergement-populars{
    width: 35%;
    flex-direction: column;
    margin: 20px 0 20px 20px;
    justify-content:flex-start;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    align-items: flex-start;
    align-content: flex-start;
 }
 .hebergement-populars h1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 0;
 }
 .populars{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
 }
 .populars__card{
    height: 150px;
    width: 250px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 20px;
    background-color: #fff;
 }
 .populars_card-img{
    height: 100%;
    width: 40%;
    padding: 5px;
    align-self: stretch;
    align-items: center;
    align-content: flex-start;
    float: left;
 }
 .populars_card-img img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .populars_card-description{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
    width: 55%;
    padding: 5px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .populars_card-description p:last-of-type{
    display: flex;
    align-items: flex-end;
    justify-items: flex-start;
    flex-grow: 2;
    padding-bottom: 10px;
 }  
 
/*/////////////////////////////////*/
/*///////  ACTIVITY SECTION  /////*/
/*///////////////////////////////*/
.activities{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.activities1, .activities2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 49%;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 10px;
}
.single, .double{
    display: flex;
    flex-flow: row wrap;
    width: 48%;
    height: 400px;
    flex-shrink: 1;
}
.activities__card{
    box-shadow: 1px 4px 13px 2px #ddd;
    border-radius: 20px;
    height: auto;
    width: auto;
}
.activities_card-img  img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.activities_card-description{
    align-content: center;
    align-items: center;
    height: 50px;
    width:100% ;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}
/*1.1 ACTIVITIES - SINGLE*/
.single  .activities__card{
    width: 100%;
    height: 100%;
    flex-grow: 1; 
    justify-content: space-between;
}
.single .activities_card-img {
    height: 350px;
    width: 100%;
}
/*1.2 ACTIVITIES - DOUBLE*/
.double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*1.2.1 ACTIVITIES --> ACVITIVITIES1 --> DOUBLE*/
.activities1 .first{
    width: 100%;
    height: 220px;
}
.activities1 .first .activities_card-img{
    height: 170px;
}
.activities1 .second{
    width: 100%;
    height: 150px;
}
.activities1 .second .activities_card-img{
    height: 100px;
}
/*1.2.2 ACTIVITIES --> ACVITIVITIES2 --> DOUBLE*/
.activities2 .double_item{
    width: 100%;
    height: 185px;
}
.double_item .activities__card{
    width: 100%;
    height: 100%;
}
.double .activities_card-img {
    height: 135px;
    width: 100%;
}
.activities h3{
    font-size: 0.9rem;
    margin: 10px;
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    background-color: #f2f2f2;
}
.footer div{
    margin-right: auto;
}
.footer a:hover {
    color: #0065FC;
}


/*////////////////////////////////////////*/
/*//////////  MEDIA QUERIES - MOBILE  ////*/
/*////////////////////////////////////////*/
@media all and (max-device-width: 464px){
    body{
        margin: auto;
        font-size: 0.8rem;
    }
    main{
        padding: 0;
        width: 100%;
    }
/*HEADER MOBILE*/
    .header{
       display: none;
    }
    .header-mobile{
        display: contents;
        margin: 10px;
    }
    #nav1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    #nav2{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        padding: 10px;
    }
    .header-mobile #nav2 li{
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
        margin: 0;
        padding: 10px;
    }
    #inscription{
        font-weight: bold;
        font-size: 1.1rem;
        color: #0065FC;
    }
    #inscription:hover{
        background-color: #0065FC;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    .header-mobile ul {
        display: flex;
        list-style-type: none;
    }
    .header-mobile nav li
    {
        margin-right: 20px;
    }
    .header-mobile #nav2 li{
        width: 50%;
        text-align: center;
    }
    .header-mobile #nav2 a {
        font-size: 1.1rem;
        color: #000;
    }
    .header-mobile #nav2 li:hover
    {
        color:  #0065FC;
        border-bottom: 3px solid #0065FC;
    }
     /*search button*/
    .btn-search{
        display: none;
    }
    .btn-search-mobile{
        display: contents;
    }
    .btn-search-mobile .fa-search{
        background-color: #0065FC;
        color: #fff;
        border: 0;
        border-radius: 10px;
        padding: 10px;
        width: 38.8px;
        height: 38.8px;
        cursor: pointer;
        margin-left: -5px;
    }
    .btn-search-mobile:hover{
        background-color: #0b7dda;
    }
    /*HEBERGEMENTS*/
    .hebergement{
        flex-direction: column-reverse;
        width: 100%;
    }
    .hebergement-populars{
        width: 100%;
        flex-direction: column;
        margin: 10px 0;
        border-radius: 0;
        padding-bottom: 20px;
    }
    .hebergement-results{
        width: 90%;
        background-color: #fff;
        margin: 20px auto;
        padding: 0;
    }
    .results__card{
        box-shadow:  1px 4px 13px 2px #ddd;
        margin: 10px 0;
    }
     /*activities*/
     .activities{
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
        padding: 0;
        height: auto;
    }
    .activities1, .activities2{
        display: flex;
        flex-flow: row wrap ;
        width: 100%;
        flex-grow: 1; 
        padding: 10px;
        height: auto;
   }
    .single, .double{
        width: 300px;
        height: auto ;
        margin-bottom: 20px;
        flex-grow: 1;
        height: auto;
    }
    .single .activities__card{
        height: auto;
    }
    .single .activities_card-img{
        height: 150px;
    }
    .single .activities_card-description{
        height: 30px;
    }
    .activities1 .double, .activities2 .double{
        margin-bottom: 0;
        flex-flow: row wrap;
        flex-grow: 1;
        height: auto;
    } 
    .double_item{
        width: 100%;
        padding: 0;
        margin: 20px 0;
    }
    .double .activities__card{
        height: auto;
        flex-grow: 1;
    }
    .double .activities_card-img{
        height: 150px;
    }
    .double .activities_card-description{
        height: 30px;
    }
    .activities1 .first{
        width: 300px;
        height: auto;
        flex-grow: 1;
    }
    .activities1 .first .activities_card-img{
        height: 150px;
        flex-grow: 1;
    }
    .activities1 .second{
        width: 300px;
        height: auto;
        flex-grow: 1;
    }
    .activities1 .second .activities_card-img{
        height: 150px;
        flex-grow: 1;
    }
    .footer{
        flex-direction: column;
        width: 100%;
    }
}    

   
/*/////////////////////////////////////////*/
/*//////////  MEDIA QUERIES - TABLETTE ////*/
/*////////////////////////////////////////*/

@media all and (min-width: 465px) and (max-width: 1023px){
    body{
        margin: auto;
        font-size: 0.8rem;
        width: 95%;
    }
    /*HEADER TABLETTE*/
    .header{
        display: none;
    }
    .header-mobile{
        display: contents;
        margin: 10px;
    }
    #nav1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    #nav2{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .header-mobile #nav2 li{
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        margin: 0;
        padding: 10px;
    }
    #inscription{
        font-weight: bold;
        font-size: 1.2rem;
        color: #0065FC;
    }
    #inscription:hover{
        background-color: #0065FC;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    .header-mobile ul {
        display: flex;
        list-style-type: none;
    }
    .header-mobile nav li
    {
        margin-right: 20px;
    }
    .header-mobile #nav2 a {
        font-size: 1.1rem;
        color: #000;
    }
    .header-mobile #nav2 li:hover
    {
        color:  #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    /*HEBERGEMENTS*/
    main{
        padding: 10px;
    }
    .hebergement{
        flex-direction: row;
    }
    .hebergement-results{
        width: 50%;
        margin: 10px;
        flex-flow: column;
    }
    .hebergement-populars{
        width: 50%;
        height: auto;
        align-items: flex-start;
        align-content: flex-start;
        margin: 10px;
    }
    .hebergement-populars h1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin:  0;
     }
    /*activities*/
    .activities{
        flex-direction: column;
        height: auto;
    }
    .activities1{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0;
        flex-shrink: 1;
    }
    .activities2{
        display: flex;
        flex-direction: row-reverse;
        flex-shrink: 1;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0;
    }
}
 
    